/ESP32Code/.pio/
/ESP32Code/.vscode/browser.c_cpp.db*
/ESP32Code/.vscode/c_cpp_properties.json
/ESP32Code/.vscode/launch.json
/ESP32Code/.vscode/ipch/
/ESP32Code/src/config.cpp

# Compiled files
*.o
*.obj
*.elf
*.bin
*.hex

/ESP32Code/.vscode/settings.json
*.swp
*.swo
*~
